<!-- loads the path to your static files -->
{% extends 'attendance/base.html' %}
{% block title %}{{ album }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
{% if users %}
<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
</style>
}
    <ul><center>Selected Center is {{ center_name }}</center></ul>
    <table style="width:60%" align="center">

        <tr>
            <th>Username</th>
        </tr>
        <ul>
            {% for user in users %}
            <tr>
                <td>
                    <a href="{% url 'attendance:user_index' user.id %}"> {{ user.initial }} {{ user.last_name }} </a></li>
                </td>
            </tr>
            {% endfor %}
        </ul>
    </table>
{% endif %}
{% endblock %}