<!-- loads the path to your static files -->
{% extends 'attendance/base.html' %}
{% block title %}{{ album }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<p><a href="{% url 'attendance:logout' %}">logout</a></p>
{% if users %}
    <ul>
        {% for user in users %}
            <li><a href="{% url 'attendance:user_index' user.id %}"> {{ user.initial }} {{ user.last_name }} </a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No users are available.</p>
{% endif %}
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'attendance:login' %}">login</a>
{% endif %}
{% endblock %}